<%= form_with(model: @task) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', style: 'height: 150px' %>
  </div>

  <div class="form-group">
    <%= f.label :assignee_id, 'By default task assignee to you!' %>
    <%= f.select :assignee_id, options_from_collection_for_select(Employee.all, :id, :email, current_employee.id),
      {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', authenticated_root_path, class: 'btn btn-secundary' %>

  </div>

<% end %>
